.insight-container {
  border: 2px solid lightgray;
  border-radius: 7px;
  padding: 10px 10px 10px 10px;
  margin-top: 3px;
  margin-bottom: 5px;
  color: dimgrey;

  .time-left {
    display: flex;
    float: right;
    color: #999;
  }
}

.danger {
  background-color: rgba(240, 52, 52, 0.3);
}

.warning {
  background-color: rgba(247, 202, 24, 0.3);
}

.success {
  background-color: rgba(92, 184, 92, 0.3);
}