.insight-container {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: small;

  .time-left {
    display: flex;
    float: right;
    color: #999;
  }

  .icon {
    margin-right: 6px;
    font-size: 1.5em;
    vertical-align: middle;
  }
}