svg#chart {
  g.bottom-axis, g.right-axis {
    color: #7f8c8d;

    path.domain {
      color: #ecf0f1;
    }

    g.tick {
      line {
        color: #bdc3c7;
      }
    }
  }

  path.line-fill {
    opacity: 0.1;
  }

  path.smoothed-line {
    stroke-width: 3;
  }

  path.unsmoothed-line {
    stroke-width: 0.5;
  }
}

div.sparkline-list-item {
  border: none;
}

button.sparkline-list-item {
  outline: none;
  &:focus {
    background-color: transparent;
  }
  &.selected {
    background-color: #f8f9fa;
  }
}
.sparkline-list-item {
  padding: .25rem 5px;

  span {
    vertical-align: middle;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;

    &.value-primary {
      font-weight: bold;
      fill: #34495e;
    }

    &.value-secondary {
      font-weight: normal;
      fill: #7f8c8d;
    }
  }

  svg.sparkline {
    path.smoothed-line {
      stroke-width: 1.5;
    }

    path.unsmoothed-line {
      stroke-width: 0;
    }

    path.line-fill {
      opacity: 0.1;
    }
  }

  span.value {
    text-align: right;
    height: 36px;

    &.primary-only {
      span {
        line-height: 3;
      }
    }
    span {
      display: block;
    }
  }
}