.run-info {
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;

  .start-time {
    opacity: 0.8;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .run-uuid {
    span {
      margin-right: 4px;
      opacity: 0.7;
    }

    color: #7f8c8d;
    margin-top: 2px;
  }

  .status {
    text-transform: uppercase;
    color: #7f8c8d;
  }

  .badge {
    font-size: 9px;
    text-transform: uppercase;
  }

  h3, h4, h5 {
    overflow-wrap: break-word;
    margin: 0;
  }

  h3 {
    color: #34495e;
    font-size: 1.75rem;
    padding: 0;
  }

  h4, h5 {
    color: #7f8c8d;
  }
}

.list-container {
  ul {
    font-size: 12px;
    margin: 50px auto 0;
    padding: 10px;
    box-sizing: border-box;
  }

  ul li {
    display: flex;
    background: rgba(174, 178, 174, .1);
    padding: 10px 20px;
    color: black;
    margin: 8px 0;
    transition: .5s;
  }

  .item-key {
    text-transform: uppercase;
    color: dimgrey;
    font-weight: bolder;
    width: 150px;
  }

  .item-value {
    color: black;
    opacity: 0.7;
    font-weight: bold;
    overflow: hidden;
  }
}

