.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button.submit-btn {
  border: none;
  background: none;
}

body {
  background-color: #f3f6f8;
}

.labml-card {
  border-radius: .25rem;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px 0;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.10), 0px 1px 20px 0px rgba(0, 0, 0, 0.10);

  h3 {
    color: #7f8c8d;
    font-size: 1rem;
    padding: 0 10px;
  }

  .info {
    text-align: center;
    opacity: 0.7;
  }
}

.labml-card.labml-card-action {
  cursor: pointer;
}

/* Fix for some bootstrap thing messing up with react-bootstrap */
.list-group-item {
  margin-bottom: 0px;
}

.page {
  margin: 0 auto;

  h3.header {
    color: #34495e;
    font-size: 0.9rem;
    padding: 0 10px 3px 0;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
  }

  h2.header {
    color: #34495e;
    font-size: 1.2rem;
    padding: 0 10px;
    text-align: center;
  }
}

.loader {
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
}

.last-updated {
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  opacity: 0.7;
}