.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button.submit-btn {
  border: none;
  background: none;
}

body {
  font-size: .9rem;
}

.labml-card {
  border-radius: .25rem;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px 0;

  h3 {
    font-size: 1rem;
    padding: 0 10px;
  }

  .info {
    text-align: center;
    opacity: 0.7;
  }

  &.labml-card-action {
    cursor: pointer;
  }
}


/* Fix for some bootstrap thing messing up with react-bootstrap */
.list-group-item {
  margin-bottom: 0px;
}

.page {
  margin: 0 auto;

  h3.header {
    font-size: 0.9rem;
    padding: 0 10px 3px 0;
    text-align: center;
    text-transform: uppercase;
  }

  h2.header {
    font-size: 1.2rem;
    padding: 0 10px;
    text-align: center;
  }
}

.loader {
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
}

.last-updated {
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.7;
}

input[type="email"], input[type="text"] {
  font-size: 1rem;
}

.input-container {
  flex: 1 0 100%;

  .input-content {
    display: flex;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;

    input {
      flex: 1 1 auto;
      padding: .375rem .75rem;
      color: #444;
      border: none;
      outline: none;
      background: none;
      line-height: 25px;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.label {
  display: inline-block;
  padding: 4px;
  border-radius: .25rem;
}

.label-info {
  background-color: #2196F3;
}

/* Blue */

