@mixin neu-list {
}

.list-group {
  .list-group-item {
    background: none;

    &.list-group-item-action {
      border: none;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }

}

.labml-card {
  box-shadow: none;
}

//.runs-list {
//  @include neu-list();
//}

.nav-link {
  margin: 4px;
  border-radius: 15px;
}

.btn.btn-primary {
  border: none;
}

$dark-background: #292d32;
$light-background: #eee;
$dark-shadow1: #222; // rgba(0, 0, 0, 0.10)
$dark-shadow2: #444;
$light-shadow1: #b8b9be; // rgba(0, 0, 0, 0.10)
$light-shadow2: #fff;
$dark-btn-color: #ccc;
$light-btn-color: #34495e;
$light-header-color: #34495e;
$dark-header-color: #ccc;
$light-header-line: #ddd;
$dark-header-line: #444;

body.light {
  background-color: $light-background;

  .labml-card {
    background-color: $light-background;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.10), 0px 1px 20px 0px rgba(0, 0, 0, 0.10);

    h3 {
      color: #7f8c8d;
    }

    &.labml-card-action {
      box-shadow: 3px 3px 6px $light-shadow1, -3px -3px 6px $light-shadow2;
    }

    &.selected {
      box-shadow: inset 2px 2px 5px $light-shadow1, inset -3px -3px 7px $light-shadow2;
    }
  }

  .nav-link {
    box-shadow: 3px 3px 6px $light-shadow1, -3px -3px 6px $light-shadow2;
    color: $light-btn-color;
  }

  .btn.btn-primary {
    box-shadow: 3px 3px 6px $light-shadow1, -3px -3px 6px $light-shadow2;
    background: $light-background;
    color: $light-btn-color;

    &:hover {
      color: $light-btn-color;
    }

    &:not(disabled):not(.disabled):active {
      box-shadow: inset 2px 2px 5px $light-shadow1, inset -3px -3px 7px $light-shadow2;
      background: $light-background;
      color: $light-btn-color;

    }
  }

  .list-group {
    .list-group-item {
      &.list-group-item-action {
        box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px $light-shadow2;

        &.selected {
          box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px $light-shadow2;
        }
      }
    }
  }

  .page {
    h3.header {
      color: $light-header-color;
      border-bottom: 1px solid $light-header-line;
    }

    h2.header {
      color: $light-header-color;
    }
  }

}

body.dark {
  background-color: $dark-background;

  .labml-card {
    background-color: $dark-background;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.10), 0px 1px 20px 0px rgba(0, 0, 0, 0.10);

    h3 {
      color: #7f8c8d;
    }

    &.labml-card-action {
      box-shadow: 3px 3px 6px $dark-shadow1, -3px -3px 6px $dark-shadow2;
    }

    &.selected {
      box-shadow: inset 2px 2px 5px $dark-shadow1, inset -3px -3px 7px $dark-shadow2;
    }
  }

  .nav-link {
    box-shadow: 3px 3px 6px $dark-shadow1, -3px -3px 6px $dark-shadow2;
    color: $dark-btn-color;
  }

  .btn.btn-primary {
    box-shadow: 3px 3px 6px $dark-shadow1, -3px -3px 6px $dark-shadow2;
    background: $dark-background;
    color: $dark-btn-color;

    &:hover {
      color: $dark-btn-color;
    }

    &:not(disabled):not(.disabled):active {
      box-shadow: inset 2px 2px 5px $dark-shadow1, inset -3px -3px 7px $dark-shadow2;
      background: $dark-background;
      color: $dark-btn-color;

    }
  }

  .list-group {
    .list-group-item {
      &.list-group-item-action {
        box-shadow: 3px 3px 6px $dark-shadow1, -3px -3px 6px $dark-shadow2;

        &.selected {
          box-shadow: inset 2px 2px 5px $dark-shadow1, inset -3px -3px 7px $dark-shadow2;
        }
      }
    }
  }

  .page {
    h3.header {
      color: $dark-header-color;
      border-bottom: 1px solid $dark-header-line;
    }

    h2.header {
      color: $dark-header-color;
    }
  }
}