@import "neumorphism";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* App.css */

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text-center {
  text-align: center;
}

.last-updated {
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.7;
}

.labml-card {
  border-radius: .25rem;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px 0;

  h3 {
    font-size: 1rem;
    padding: 0 10px;
  }

  .info {
    text-align: center;
    opacity: 0.7;
  }

  &.labml-card-action {
    cursor: pointer;
  }
}

.page {
  margin: 0 auto;

  h3.header {
    font-size: 0.9rem;
    padding: 0 10px 3px 0;
    text-align: center;
    text-transform: uppercase;
  }

  h2.header {
    font-size: 1.2rem;
    padding: 0 10px;
    text-align: center;
  }
}

input[type="email"], input[type="text"] {
  font-size: 1rem;
}

.input-container {
  flex: 1 0 100%;

  .input-content {
    display: flex;
    border-radius: 10px;

    input, textarea {
      flex: 1 1 auto;
      padding: .375rem .75rem;
      border: none;
      outline: none;
      background: none;
      line-height: 25px;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

body {
  font-size: .9rem;
}

.image-style {
  width: 75px;
}

.label {
  display: inline-block;
  padding: 4px;
  border-radius: .25rem;
  margin-right: 10px;
}

.label-info {
  background-color: #2196F3;
}

/* Buttons*/
.toggle-button {
  font-size: .8rem;
}


/* Loader */

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #eb6134;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin-top: 50px;
  display: inline-block;
}

.center {
  text-align: center;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Hamburger Menu */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
}

.nav-container {
  overflow: hidden;
  margin-top: 10px;
  margin-left: 5px;

  .title {
    float: left;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 10px;
    margin-top: 12px;
    margin-left: 8px;
  }
}

.nav-links {
  position: fixed;
  z-index: 3;
  left: -10px;
  height: 100%;
  padding-top: 2vh;
  margin-top: -10px;
  width: 250px;
  transform: translate(-100%);
  transition: transform 0.3s ease-in;

  .tab {
    margin-left: 30px;
    display: block;
    width: 80%;
    cursor: pointer;
    margin-top: 20px;
  }

  span {
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
  }

  h6 {
    font-size: .7rem;
    font-weight: bolder;
  }

  h5 {
    font-size: .9rem;
    font-weight: bold;
  }
}

.burger {
  cursor: pointer;
  float: left;
}

.nav-active {
  transform: translate(0%);
}

span.fas {
  margin-left: 0;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(30px);
  }
}

/* alert message */
.alert {
  padding: 15px;
  background-color: #f0ad4e;
  color: white;
}

.close-btn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* page not found */
.error-container {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(125deg, #ffffff, #ced6e0);

  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #343434;

  h1 {
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
  }

  p {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
  }
}

/* run header */

.run-info {
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;

  .start-time {
    opacity: 0.8;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .run-uuid {
    span {
      margin-right: 4px;
      opacity: 0.7;
    }

    margin-top: 2px;
  }

  .status {
    text-transform: uppercase;
  }

  .badge {
    font-size: 9px;
    text-transform: uppercase;
  }

  h3, h4, h5 {
    overflow-wrap: break-word;
    margin: 0;
  }

  h3 {
    font-size: 1.75rem;
    padding: 0;
  }
}

/* Run Header View */

.input-list-container {
  ul {
    font-size: 12px;
    margin: 50px auto 0;
    padding: 10px;
    box-sizing: border-box;
  }

  ul li {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    margin: 8px 0;
    transition: .5s;
  }

  .item-key {
    text-transform: uppercase;
    font-weight: bolder;
    width: 150px;
  }

  .item-value {
    opacity: 0.7;
    font-weight: bold;
    overflow: hidden;
  }

  textarea {
    width: 100%;
  }

  @media screen and (max-width: 480px) {
    .item-key {
      margin-top: 5px;
      flex: 1 0 100%;
      text-transform: uppercase;
      color: dimgrey;
      font-weight: bolder;
      width: 150px;
    }

    .item-value {
      margin-top: 5px;
      flex: 1 0 100%;
      color: black;
      opacity: 0.7;
      font-weight: bold;
      overflow: hidden;
    }
  }
}

/*Terminal */

.terminal-card {
  padding-left: 5px;
  padding-right: 5px;
  min-height: 200px;
  display: flex;
}

.no-scroll {
  max-width: 100%;
}

/*Runs List*/
.list {
  .list-item {
    box-shadow: 0px 4px 5px 0px $light-shadow3, 0px 1px 20px 0px $light-shadow3;
    font-size: 12px;
    outline: none;
    margin-bottom: 10px;
    padding: 0.75rem 1.25rem;

    h3, h4, h5, h6, p {
      overflow-wrap: break-word;
      padding: 0;
      margin: 2px 0;
    }

    &:focus {
      background-color: transparent;
    }

    h5 {
      color: $light-header;
      font-size: 1.25rem;
      line-height: 1.2;
      font-weight: 500;
    }

    h6 {
      color: $light-text-secondary;
    }

    p {
      color: $light-text-secondary;
    }

    .status {
      text-transform: uppercase;
      font-size: 8px;
    }
  }
}


/* Charts */

svg#chart {
  g.bottom-axis, g.right-axis {
    color: #7f8c8d;

    path.domain {
      color: #ffffff00;
    }

    g.tick {
      text-anchor: start;
      opacity: 0.7;

      line {
        color: #bdc3c7;
      }
    }
  }

  path.line-fill {
    opacity: 0.4;
  }

  path.smoothed-line {
    stroke-width: 3;

    //&.dropshadow {
    //  filter: url(#dropshadow);
    //}
  }

  path.unsmoothed-line {
    stroke-width: 0.5;
  }
}

//svg#time-series-chart {
//  g.right-axis {
//    color: #7f8c8d;
//
//    path.domain {
//      color: #ffffff00;
//    }
//
//    g.tick {
//      text-anchor: start;
//      opacity: 0.7;
//
//      line {
//        color: #bdc3c7;
//      }
//    }
//  }
//
//  g.bottom-axis {
//    color: #7f8c8d;
//
//    path.domain {
//      color: #ffffff00;
//    }
//
//    g.tick {
//      text-anchor: middle;
//      opacity: 0.7;
//
//      line {
//        color: #bdc3c7;
//      }
//    }
//  }
//
//  path.line-fill {
//    opacity: 0.4;
//  }
//
//  path.smoothed-line {
//    stroke-width: 3;
//
//    &.dropshadow {
//      filter: url(#dropshadow);
//    }
//  }
//
//  path.unsmoothed-line {
//    stroke-width: 0.5;
//  }
//}

div.sparkline-list-item {
  border: none;
}

button.sparkline-list-item {
  outline: none;

  &:focus {
    background-color: transparent;
  }
}

.sparkline-list-item {
  cursor: pointer;
  padding: .25rem 5px;
  text-align: center;

  .sparkline-content {
    display: inline-block;
    text-align: left;

    span {
      vertical-align: middle;
      font-weight: bold;
      font-size: 12px;
      display: inline-block;

      &.value-primary {
        font-weight: bold;
        fill: #34495e;
      }

      &.value-secondary {
        font-weight: normal;
        fill: #7f8c8d;
      }
    }

    svg.sparkline {
      path.smoothed-line {
        stroke-width: 1.5;
      }

      path.unsmoothed-line {
        stroke-width: 0;
      }

      path.line-fill {
        opacity: 0.3;
        fill: url(#gradient-grey);

      }
    }

    span.value {
      text-align: right;
      height: 36px;

      &.primary-only {
        span {
          line-height: 3;
        }
      }

      span {
        display: block;
      }
    }
  }
}

.pointer-cursor {
  cursor: pointer;
}

.box {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-left: 15px;
  margin-right: 5px;
  border: 0.5px solid lightgray;
  clear: both;
}

.labels {
  font-size: .7rem;
}

.fixed-chart {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background: inherit;
  z-index: 1000;
}

.selected-step {
  font-size: .7rem;
}