@import "neumorphism";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.error-container {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(125deg, #ffffff, #ced6e0);

  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #343434;

  h1 {
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
  }

  p {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
  }
}