svg#chart {
  g.bottom-axis, g.right-axis {
    color: #7f8c8d;

    path.domain {
      color: #ecf0f1;
    }

    g.tick {
      line {
        color: #bdc3c7;
      }
    }
  }

  path.line-fill {
    opacity: 0.1;
  }

  path.smoothed-line {
    stroke-width: 3;
  }

  path.unsmoothed-line {
    stroke-width: 0.5;
  }

  g.sparkline-list-item {
    text {
      font-weight: bold;
      font-size: 12px;

      &.value-primary {
        font-weight: bold;
        fill: #34495e;
      }

      &.value-secondary {
        font-weight: normal;
        fill: #7f8c8d;
      }
    }

    path.smoothed-line {
      stroke-width: 1.5;
    }

    path.unsmoothed-line {
      stroke-width: 0;
    }
  }
}