html, body {
  overflow-x: hidden;
  width: 100%;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 8vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}

.nav-container {
  nav {
    margin-left: 5px;
    display: flex;
    align-items: center;
    min-height: 8vh;
  }

  .title {
    color: dimgrey;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }
}

.nav-links {
  position: absolute;
  z-index: 3;
  background-color: #eee;
  left: -10px;
  height: 92vh;
  top: 8vh;
  width: 20%;
  transform: translate(-100%);
  transition: transform 0.5s ease-in;

  .tab {
    opacity: 0;
    display: block;
    width: 80%;
    cursor: pointer;
    margin-top: 50px;
  }

  span {
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
  }
}

.burger {
  cursor: pointer;
  display: block;

  div {
    width: 25px;
    height: 3px;
    background-color: dimgrey;
    margin: 5px;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    width: 80%;

    .tab {
      width: 80%;
    }
  }
}

.nav-active {
  transform: translate(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(30px);
  }
}

.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .line2 {
    opacity: 0;
  }

  .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}