.login-view {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  transform: translate(-50%, -50%);

  .login-view-centre {
    text-align: center !important
  }

  .customBtn {
    display: inline-block;
    background: #4285F4;
    width: 250px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    -webkit-appearance: None;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
  }

  h1 {
    font-weight: bold;
    font-family: sans-serif;
  }
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  color: white;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}