.runs-list {
  .search-container {
    .search-content {
      display: flex;
      border-radius: 10px;

      span.icon {
        align-items: center;
        padding: .375rem .75rem;
      }

      input {
        flex: 1 1 auto;
        padding: .375rem .75rem;
        border: none;
        outline: none;
        background: none;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

.buttons {
  float: right;
  display: flex;
}
