.image-style {
  margin-top: 10px;
  width: 100px;
  height: auto;
}

body {
  background: #ecf0f1;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

.page-wrap {
  max-width: 75rem;
  margin: 0 auto;
}

h5 {
  color: black;
  font-size: 1.5rem;
  letter-spacing: -1px;
  margin: 1.25rem 0;
}


input {
  padding: 1rem 1rem;
  border: 0;
  width: 100%;
  font-size: 3rem;
}
