.image-style {
  margin-top: 10px;
  width: 100px;
  height: auto;
}

h5 {
  color: black;
  font-size: 1.5rem;
  letter-spacing: -1px;
  margin: 1.25rem 0;
}

h6 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  color: dimgrey;
}

input {
  padding: 1rem 1rem;
  border: 0;
  width: 100%;
  font-size: 3rem;
}
