.tab-pane {
  margin-top: 10px;
}

.flex-container {
  .tab.nav-link {
    display: inline-block;

    span {
      margin-left: 5px;
    }
  }
}

.flex-container.tab-view {
  text-align: center;
}


