.key-word {
  color: coral;
}

.param {
  color: orangered;
}

.value {
  color: dodgerblue;
}

.string {
  color: greenyellow;
}

.built-ins {
  color: mediumpurple;
}

.method {
  color: yellow;
}

.bold {
  font-weight: bolder;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding-left: 5px !important;
}