.key-word {
  color: coral;
}

.param {
  color: orangered;
}

.value{
  color: dodgerblue;
}

.string{
  color: greenyellow;
}

.built-ins{
  color: mediumpurple;
}

.method{
  color: yellow;
}

.bold{
  font-weight: bolder;
}

.container {
    width: 900px;
    margin: 0 auto;
}