.run-info {
  font-size: 10px;
  padding: 0 10px;

  .last-updated {
    opacity: 0.7;
    margin-bottom: 5px;
  }

  .start-time {
    opacity: 0.8;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .run-uuid {
    span {
      margin-right: 4px;
      opacity: 0.7;
    }
    color: #7f8c8d;
    margin-top: 2px;
  }

  .status {
    text-transform: uppercase;
    color: #7f8c8d;
  }

  .badge {
    font-size: 9px;
    text-transform: uppercase;
  }

  h3, h4, h5 {
    overflow-wrap: break-word;
    margin: 0;
  }

  h3 {
    color: #34495e;
  }

  h4, h5 {
    color: #7f8c8d;
  }
}
