.run-info {
  font-size: 10px;
  padding: 0 10px;

  .last-updated {
    opacity: 0.7;
    margin-bottom: 5px;
  }
  .badge {
    font-size: 9px;
    text-transform: uppercase;
  }
  h3, h4, h5 {
    overflow-wrap: break-word;
  }
  h3 {
    color: #34495e;
  }

  h4, h5 {
    color: #7f8c8d;
  }
}
