.list {
  .list-item {
    font-size: 12px;

    .badge {
      font-size: 9px;
      text-transform: uppercase;
    }

    outline: none;

    h3, h4, h5, h6, p {
      overflow-wrap: break-word;
      padding: 0;
      margin: 2px 0;
    }

    .status {
      text-transform: uppercase;
      font-size: 8px;
    }

    input[type=checkbox] {
      transform: scale(1.2);
      margin-top: 18px;
      border-radius: 50%;
      border: 1px solid #ddd;
    }
  }

  :hover {
  }
}