svg#chart {
  g.bottom-axis, g.right-axis {
    color: #7f8c8d;

    path.domain {
      color: #ecf0f1;
    }

    g.tick {
      text-anchor: start;
      opacity: 0.7;
      line {
        color: #bdc3c7;
      }
    }
  }

  path.line-fill {
    opacity: 0.4;
  }

  path.smoothed-line {
    stroke-width: 3;
    &.dropshadow {
      filter: url(#dropshadow);
    }
  }

  path.unsmoothed-line {
    stroke-width: 0.5;
  }

  path.line-fill, path.smoothed-line, path.unsmoothed-line {
    //transform-origin: bottom;
    transform: scaleY(0.01);
    animation: raise 0.5s ease 0.2s forwards;
  }

  path.density-line {
    stroke-width: 2;
  }
}
@keyframes raise {
  0% {
    transform: scaleY(0.01);
  }
  75% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }

}
div.sparkline-list-item {
  border: none;
}

button.sparkline-list-item {
  outline: none;

  &:focus {
    background-color: transparent;
  }

  &.selected {
    background-color: #f8f9fa;
  }
}

.sparkline-list-item {
  padding: .25rem 5px;
  text-align: center;

  .sparkline-content {
    display: inline-block;
    text-align: left;

    span {
      vertical-align: middle;
      font-weight: bold;
      font-size: 12px;
      display: inline-block;

      &.value-primary {
        font-weight: bold;
        fill: #34495e;
      }

      &.value-secondary {
        font-weight: normal;
        fill: #7f8c8d;
      }
    }

    svg.sparkline {
      path.smoothed-line {
        stroke-width: 1.5;
      }

      path.unsmoothed-line {
        stroke-width: 0;
      }

      path.line-fill {
        opacity: 0.3;
    fill: url(#gradient-grey);

      }
    }

    span.value {
      text-align: right;
      height: 36px;

      &.primary-only {
        span {
          line-height: 3;
        }
      }

      span {
        display: block;
      }
    }
  }
}

.dot {
  height: 10px;
  width: 10px;
  margin-left: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.color-dot {
  background-color: firebrick;
}

.pointer-cursor {
  cursor: pointer;
}

.bar-line {
  line-height: 0.1;
  padding: .03rem 5px;
}

.box {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-left: 15px;
  margin-right: 5px;
  border: 0.5px solid lightgray;
  clear: both;
}

.labels {
  font-size: .7rem;
}