.run-info {
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;

  .start-time {
    opacity: 0.8;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .run-uuid {
    span {
      margin-right: 4px;
      opacity: 0.7;
    }

    margin-top: 2px;
  }

  .status {
    text-transform: uppercase;
  }

  .badge {
    font-size: 9px;
    text-transform: uppercase;
  }

  h3, h4, h5 {
    overflow-wrap: break-word;
    margin: 0;
  }

  h3 {
    font-size: 1.75rem;
    padding: 0;
  }
}

