html, body {
  overflow-x: hidden;
  width: 100%;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}

.nav-container {
  overflow: hidden;
  margin-top: 10px;
  margin-left: 5px;

  .title {
    color: dimgrey;
    float: left;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 10px;
    margin-top: 12px;
    margin-left: 8px;
  }
}

.nav-links {
  position: fixed;
  z-index: 3;
  background-color: #eee;
  left: -10px;
  height: 100%;
  padding-top: 2vh;
  margin-top: -10px;
  width: 250px;
  transform: translate(-100%);
  transition: transform 0.5s ease-in;

  .tab {
    margin-left: 30px;
    display: block;
    width: 80%;
    cursor: pointer;
    margin-top: 20px;
  }

  span {
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
  }

  h6 {
    font-size: .7rem;
    font-weight: bolder;
  }

  h5 {
    font-size: .9rem;
    font-weight: bold;
  }

  .image-style {
    width: 75px;
  }
}

.burger {
  cursor: pointer;
  float: left;
}

.nav-active {
  transform: translate(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(30px);
  }
}