.rotate {
  -moz-transition: all 5s linear;
  -webkit-transition: all 5s linear;
  transition: all 5s linear;
}

.rotate.down {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}


.btn-group {
  cursor: pointer;
  font-size: .9rem;
  border-radius: 15px;
  padding: 4px 6px 4px 6px;

  span {
    cursor: pointer;
  }

  .selected {
    font-weight: bolder;
  }

  .v-line {
    margin: 0 7.5px;
    opacity: 0.75;
  }
}
