.rotate {
  -moz-transition: all 5s linear;
  -webkit-transition: all 5s linear;
  transition: all 5s linear;
}

.rotate.down {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
